<nav class="bg-gray-200 fixed top-0 left-0 w-full flex justify-between items-center p-4">
  <ul class="flex">
    <li class="mr-4"><%= link_to "Home", root_path, class: "text-gray-800 hover:text-gray-600" %></li>
    <li class="mr-4"><%= link_to "About", about_path, class: "text-gray-800 hover:text-gray-600" %></li>
  </ul>
  <%= turbo_frame_tag 'navbar' do %>
    <%= content_tag :div, id: 'search-videos', data: {turbo_frame: "_top", turbo_permanent: true} do %>
      <%=content_tag :div, class: "flex items-center" do %>
        <%= text_field_tag :query, "", placeholder: "Search", class: "px-4 py-2 border border-gray-400 rounded-lg", data: { reflex: "keyup->Video#search" } %>
      <% end %>
      <%=content_tag :div, id: "results" do %>
        <%=render partial: 'pages/videos', locals: {videos: [], query: ''} %>
      <% end %>
    <% end %>
  <% end %>
</nav>